{% extends "base.html" %}
{% block main %}

<link rel="stylesheet" href="static/css/style.css">
<link rel="stylesheet" href="../static/css/style.css">
    <div class="container">
        <div class="row">
            <div class="col-3"></div>
            <div class="col-5 loginpage">
                <form method="POST" action="/register">
                    <h1 class="title">Sign Up to WiseCrack</h1>
                    {% with messages = get_flashed_messages() %}
                        {% if messages %}
                            {% for message in messages %}
                            <p>{{ message }}</p>
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                    <div class="form-group">
                      <label for="firstname">First Name</label>
                      <input type="text" class="form-control"  placeholder="First Name" name="firstname">
                  </div>
                    <div class="form-group">
                      <label for="lastname">Last Name</label>
                      <input type="lastname" class="form-control" placeholder="Last Name" name="lastname">
                  </div>
                    <div class="form-group">
                        <label for="email">Email address</label>
                        <input type="email" class="form-control" aria-describedby="emailHelp" placeholder="Enter email" name="email">
                        <small id="emailHelp" class="form-text text-muted">We'll share your email with anyone else.</small>
                    </div>
                    <div class="form-group">
                        <label for="username">username</label>
                        <input type="text" class="form-control"  placeholder="Username" name="username">
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" class="form-control"  placeholder="Password" name="password">
                    </div>
                    <div class="form-group">
                        <label for="password_confirm">Confirm Password</label>
                        <input type="password" class="form-control" placeholder="Password" name="password_confirm">
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button></r>
                </form>
                <p>Already Have a Account<a style="font-style: italic;" href="/login"> Login Here</a></p>
                <!-- Footer Content, Help, Privacy and Terms and Conditions--> 
              
                
            </div>
            <div class="col-3"></div>
        </div>
    </div>
{% endblock %}