#error404{
    background: url(../image/404errorimg.jpg) no-repeat right center;
    height: 100vh;
    display: block;
    position: relative;
    background-size: 600px 400px;
}

#error404 h1{
    font-size: 8rem;
    margin-top: 2rem;
}

li {
    float: left;
}

div.form-group{
    color: white;
}

.container{
    background-color: #3F0E40;
    height: calc(100vh - 56px);
    padding: 20px 20px 20px 20px;
    position: relative;
    overflow: hidden;
}

form label{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

body {
    background-color: mediumorchid;
    height: 100%;
}

div.container h1{
    color: papayawhip;
}

#error{
    color: lightcoral
}

#emailhelp{
    color: #3F0E40;
}

.container, p{
    color:white;
}

.btn{
    text-align: center;
}