#error404{
    height: 100vh;
    display: block;
    position: relative;
    background-size: 600px 400px;
}

#navbar{
    background-color: darkmagenta;
    color: white;
}

#error404 h1{
    font-size: 8rem;
    margin-top: 2rem;
}

li {
    float: left;
}

div.form-group{
    color: white;
    width: 300px;
    display: inline-block;
    text-align: center;
}

.container{
    background-color: #3F0E40;
    height: calc(100vh - 56px);
    padding: 20px 20px 20px 20px;
    position: relative;
    overflow: hidden;
}

form label{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    padding: 5px;
}

body {
    background-color: mediumorchid;
    height: 100%;
}

div.container h1{
    color: papayawhip;
}

#error{
    color: lightcoral
}

#emailhelp{
    color: #3F0E40;
}

.container, p{
    color:white;
}

.btn{
    text-align: center;
    padding-top: 6px;
    padding-bottom: 6px;
}

.grid-item{
    width: calc(33vw - 30px);
    float: left;
    margin-bottom: 30px;
    margin-left: 30px;
}

.grid-item img{
    width: 50%;
    height: auto;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1050;
    display: none;
    width: 100%;
    height: 100%;
    overflow: hidden;
    outline: 0;
}

.modal-body{
    max-width: 200%;
    max-height: 200%;
}
.modal-content img{
    padding: 20px 20px 20px 20px;
    max-width: 100%;
    max-height: auto;
    float:left;
}

.fa.fa-times{
    float:right;
    margin-right: 20px;
}

h5{
    font-size: 36px;
    margin-left: 20px;
}

.modal-body p{
    color: black;
    margin-left: 20px;
}