#error404{
    background: url(../image/404errorimg.jpg) no-repeat right center;
    height: 100vh;
    display: block;
    position: relative;
    background-size: 600px 400px;
}

#error404 h1{
    font-size: 8rem;
    margin-top: 2rem;
}

li {
    float: left;
}

div.form{
    display: block;
    text-align: center;
}

form label{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

